/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "basara";
  src: url("/public/fonts/BASARA.ttf");
}
h1,
h2,
p {
  font-family: "basara", arial;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.arrow {
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06a8ff;
  border-right: 5px solid #06a8ff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

#historyPart1 .containerHistory,
#historyPart3 .containerHistory {
  justify-content: flex-start;
}

#historyPart2 .containerHistory,
#historyPart4 .containerHistory {
  justify-content: flex-end;
}

.containerHistory {
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  perspective: 1200px;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
  left: 0%;
  transition: 1s;
  opacity: 0;
  width: 200px;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.front, .back {
  background: navy;
}

#historyPart1 .book .front,
#historyPart1 .book .back {
  background-image: url(/public/images/tome1.jpg);
  background-size: cover;
}

#historyPart2 .book .front,
#historyPart2 .book .back {
  background-image: url(/public/images/tome2.jpg);
  background-size: cover;
}

#historyPart3 .book .front,
#historyPart3 .book .back {
  background-image: url(/public/images/tome3.jpg);
  background-size: cover;
}

#historyPart4 .book .front,
#historyPart4 .book .back {
  background-image: url(/public/images/tome4.jpg);
  background-size: cover;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.page1 {
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book.effect {
  opacity: 1;
}

#historyPart1 .book.effect:not(.open),
#historyPart3 .book.effect:not(.open) {
  transform: translateX(60px);
}

#historyPart2 .book.effect:not(.open),
#historyPart4 .book.effect:not(.open) {
  transform: translateX(-60px);
}

.book.open {
  transform: scale(1.5);
}

#historyPart1 .book.open,
#historyPart3 .book.open {
  left: 50%;
}

#historyPart2 .book.open,
#historyPart4 .book.open {
  left: -50%;
}

.book:not(.open):hover {
  transform: translateX(60px) translateY(-20px);
}

.book:hover:not(.open) .back {
  box-shadow: 0px 0px 24px 0px rgba(31, 193, 113, 0.72);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(31, 193, 113, 0.72);
  -moz-box-shadow: 0px 0px 24px 0px rgba(31, 193, 113, 0.72);
}

.book.open .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.open .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-align: center;
}

.book.open .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.open .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.open .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.open .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.open .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book.open .back {
  transform: rotateY(-20deg) scale(1.1);
}

.katana {
  position: fixed;
  z-index: 55;
  transform: translate(200%, -100%) rotate(80deg);
  width: 100%;
  transition: 3s;
}
.katana.effect {
  transform: translate(-200%, 70%) rotate(0deg);
}

.containerImage {
  position: relative;
  width: 300px;
  height: 450px;
}

.imageProfile {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform: translate(0px, 0px);
}

#historyPart1 .imageProfile.effect,
#historyPart3 .imageProfile.effect {
  transform: translate(-20px, 20px);
}
#historyPart1 .imageProfile.effect:hover,
#historyPart3 .imageProfile.effect:hover {
  transform: translate(-20px, 20px) scale(1.2);
}
#historyPart1 .imageProfile.effect + .imageBack,
#historyPart3 .imageProfile.effect + .imageBack {
  transform: translate(20px, -20px);
}

#historyPart2 .imageProfile.effect,
#historyPart4 .imageProfile.effect {
  transform: translate(20px, -20px);
}
#historyPart2 .imageProfile.effect:hover,
#historyPart4 .imageProfile.effect:hover {
  transform: translate(20px, -20px) scale(1.2);
}
#historyPart2 .imageProfile.effect + .imageBack,
#historyPart4 .imageProfile.effect + .imageBack {
  transform: translate(-20px, 20px);
}

.imageBack {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: 1;
  transition: 1s;
  transform: translate(0px, 0px);
}

section {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  z-index: 2;
  position: relative;
}
section.static {
  overflow: hidden;
}

article {
  height: 100vh;
  scroll-snap-align: start;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
}

#coverSection {
  background-image: url(/public/images/bgPrison.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#coverSection .text,
#coverSection h1,
#coverSection p {
  position: relative;
  z-index: 2;
}
#coverSection h1 {
  font-size: 30vw;
}
#coverSection p {
  font-size: 40px;
}
#coverSection .arrow {
  z-index: 2;
}
#coverSection .filter.active {
  z-index: 1;
  cursor: initial;
}

.filter {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}
.filter.active {
  background-color: black;
  z-index: 5;
  cursor: pointer;
}

.resumeHistory {
  color: white;
  display: none;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 80%;
  font-size: 50px;
}
.resumeHistory.active {
  z-index: 50;
  display: block;
}

.containerHistory {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerHistory p {
  width: 30%;
}

/*# sourceMappingURL=style.css.map */
